* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #ffffff;
    --text-secondary: rgb(255, 255, 255);
    --bg-primary: #1e1e29;
    --bg-secondary: #141418;
    --transition-speed: 750ms;
}

body {
    color: black;
    background-color: white;
}

/* body::-webkit-scrollbar {
    width: 0.85rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: rgb(156, 2, 97);
} */

/* main {
    margin-left: 5rem;
    padding: 1rem;
} */


/* Style the navigation bar, for both small screens and large screens */

.navbar {
    position: fixed;
    background: #292938;
    transition: width 750ms ease;
    z-index: 1; /* Allow the navbar to overlap whatever it needs to */
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* So that when we highlight it the whole are behind
   is highlighted
*/
.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link-S,
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: 500ms;
}

/* Don't make the S the same colour as the icons */
.nav-link {
    filter: grayscale(100%) opacity(1) brightness(400%); /* starts the icons off as grey */
}


/* 
   The filter returns the icon back to its original color (violet) and
   actually allows all of the colours to return to what we wish,
   otherwise they stay greyed out.
   It essentially removes the filters.
   The background change highlights the whole item
   to indicate it has been selected.
   The color change sets the text to violet.
*/
.nav-link:hover{
    filter: grayscale(0%) opacity(1) brightness(400%);
    background: black;
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

/* The svg icons are purple (but don't appear it as they are greyscaled)
   The width will always be 2 rem so they aren't too big
   The margin pushes them 1.5rem from the left so that they are centralised (as their width is 2)
*/ 
.nav-link-S svg,
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: rgb(35, 10, 145);
}

.nav-link-S svg {
    color: white;
}

/* Increase the width of the icon when you hover over it*/
/*
.nav-link:hover svg {
    width: 3.5rem;
}
*/

.animated-icon {
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--text-secondary);
    background: black;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.animated-icon svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed) cubic-bezier(0, 0, 0.81, 1.64);
}

.navbar:hover .animated-icon svg {
    transform: rotate(360deg);
}




/* Style the sections now */
section {
    margin-left: 5rem;
    height: 100vh; /* Take up the full amount of screen space, vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}
/* #projects {
    height: 200vh;
} */

section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.homeDown {
    color: white;
    opacity: 0.2;
    position: relative;
    top: 32%;
}
.down, .up {
    color: white;
    opacity: 0.2;
    position: relative;
    justify-content: center;
    align-items: center;
    /* top: 39%; */
}


.up:hover, .down:hover {
    transition: 1s;
    opacity: 1;
}

.container {
    /* scroll-snap-type: y mandatory; */
    overflow-y: scroll;
    height: 100vh;
}

.container::-webkit-scrollbar {
    display: none;
}


/* Add the gradient colour to each page so that it looks like one smooth gradient change */
#home {
    background-image: linear-gradient(rgb(19, 18, 18), rgb(21.5, 37.25, 57.25));
}

#about {
    background-image: linear-gradient(rgb(21.5, 37.25, 57.25), rgb(23, 44.5, 66.5));
}

#projects {
    background-image: linear-gradient(rgb(23, 44.5, 66.5), rgb(24.5, 51.75, 75.75));
}

#contact {
    background-image: linear-gradient(rgb(24.5, 51.75, 75.75), rgb(26, 59, 85));
}

section h1 {
    font-size: 2rem;
    font-family: 'Verdana';
    padding: 2rem;
    position: relative;
    text-align: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

#about .wrapper {
    overflow-y: scroll;
}
#about .wrapper::-webkit-scrollbar {
    display: none;
    /* background: rebeccapurple; */
}

/* Style the HOME page */
#nameHeader {
    width: 100%;
    height: 100%;
    position: relative;
    top: 10%;
}
.firstname, .surname{
    text-decoration: double underline purple;
    position: relative;
    font-size: 4rem;
}
.firstname {
    bottom: 20%;
}
.surname {
    bottom: 25%;
}
#home .downArrow {
    height: 40%;
    position: relative;
    bottom: 8vh;
}


/* Style the ABOUT page */
#about .contents {
    width: 100%;
    height: 80%;
    min-height: 500px;
    max-width: 100%;
}
#about .contents h1 {
    font-size: 3.5rem;
    margin-bottom: 2%;
    text-decoration: underline white;
}
#about .contents h2 {
    font-size: 1.5rem;
    font-family: 'Verdana';
    padding: 0.4rem;
}
.aboutHeader {
    height: 20%;
}
.aboutInfo {
    height: 20%;
    margin-bottom: 40px;
}
.skillsInfo {
    flex-flow: column;
    height: 60%;
    position: relative;
    bottom: 5%;
    background-size: 10px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 300px;
    width: 25%;
}
.skillsInfo h2 {
    text-decoration: double underline black;
}
.aboutInfo p {
    font-size: 1.2rem;
}
.skillsList {
    height: auto;
    width: 30%;
    background-attachment: fixed;
}
/* .skillsList::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 35%;
    right: 35%;
    bottom: 15%;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
} */
.skillsList h3{
    min-width: 160%;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    border: 2px solid white;
    background: black;
    border-radius: 25px;
    margin-top: 2px;
}
.upArrow, .downArrow {
    height: 5%;
    position: relative;
}
.upArrow {
    top: 2%;
}
.downArrow {
    bottom: 5%;
}
#about .upArrow {
    top: -4%;
}



/* Style the PROJECTS page */
#Projects .contents {
    width: 100%;
    height: 90%;
    position: relative;
    /* bottom: 3%; */
}
#projects section{
    margin: 0;
}
#projects #recentProjects{
    position: relative;
    height: 100%;
    width: 100%;
}


#projects .projectsHeader {
    height: fit-content;
    position: relative;
    bottom: 1%;
}
#recentProjects {
    overflow-y: scroll;
    position: relative;
    bottom: 5%;
}
#recentProjects .projects {
    width: 100%;
    height: 100%;
    margin: 0 2%;
    position: relative;
    bottom: 7%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    justify-content: center;
}
#recentProjects::-webkit-scrollbar {
    width: 5px;
}
#recentProjects::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.8);
}
#recentProjects::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1)
}

#recentProjects .projects .gameJam, .economySimulator, .currentWebsite {
    flex-basis: 30%;
    overflow: hidden;
    flex-wrap: wrap;
    
}
#recentProjects .gameJam, .economySimulator, .currentWebsite{
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 12%;
    background: rgba(0, 0, 0, 0.3);
    min-width: 400px;
    min-height: 500px;
    height: 90%;
    max-height: 700px;
}
/* The following can be carried out for all of the projects so doesn't need to
   be specific as to what it is styling
*/
#recentProjects .title {
    height: fit-content;
    width: 80%;
    color: rgba(255, 255, 255, 1);
    background: purple;
    border-radius: 25px;
}
#recentProjects .image {
    height: 60%;
    width: 90%;
    position: relative;
    bottom: 9%;
}
#recentProjects .image img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1.2/1;
    position: relative;
    /* border-radius: 50%; */
    object-fit: contain;
}
#recentProjects .description {
    height: 20%;
    position: relative;
    bottom: 12%;
}
#recentProjects .description p {
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.8);
}
#recentProjects .links {
    height: 10%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 7%;
    justify-content: center;
    align-items: center;
    
}
#recentProjects .links a {
    margin-left: 15px;
    background: purple;
    border-radius: 25px;
    padding: 5px;
    margin-top: 3px;
}
#recentProjects .links a:link {
    text-decoration: none;
}
#recentProjects .links h3 {
    color: white;
    /* text-decoration: underline white; */
    font-size: calc(2px + 1.6vw);
    text-align: center;
}


/* Contact Page */
#Contact .contents {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
}
#Contact .contents::-webkit-scrollbar {
    display: none;
}
.contactHeader {
    position: relative;
    bottom: 1%;
    height: fit-content;
    text-align: center;

}
.socials {
    position: relative;
    margin: 90px 20%;
    max-height: 450px;
    min-height: 400px;
    justify-content: space-around;

    display: flex;
}
.socials div {
    max-height: 450px;
}
.socials a {
    color: white;
    margin-bottom: 40px;
    max-height: 180px;
}
.socials i {
    font-size: 6rem;
}









/* Small screens only */
@media only screen and (max-width: 900px) {
    
    /* Navigation Bar */
    .navbar {
        bottom: 0px;
        width: 100vw;
        height: 3rem;
    }

    .animated-icon {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    /* Center the icons along the x-axis */
    .nav-link {
        justify-content: center;
    }

    /* Adjust the height so when you highlight it/hover over it, it
       only highlights the correct height
    */
    .nav-link {
        height: 3rem;
    }


    h1 {
        margin-left: 0;
    }
    /* Remove the previously set gap on the main element*/
    main {
        margin: 0;
    }


    /* Sections */
    section {
        margin: 0;
    }


    /* Home Page */
    .homeDown {
        position: relative;
        top: 25%;
    }

    .down {
        position: relative;
        /* top: -32%; */
        bottom: calc(10px + 10%);
    }
    .skillsInfo {
        width: 80%;
        height: 50%;
    }

    
    /* About Page*/
    .firstname, .surname {
        font-size: 9vw;
    }
    .firstname {
        left: 20%;
        bottom: 10%;
    }
    .surname {
        left: 25%;
        bottom: 19%;
    }
    .skillsList h3{
        min-width: calc(5px + auto);
    }


    /* Projects */
    #recentProjects .projects {
        /* overflow-y: scroll; */
        flex-wrap: wrap;
        height: 70%;
    }
    #recentProjects .gameJam, .economySimulator, .currentWebsite {
        margin: 10px 5px;
        min-width: 280px;
        min-height: 400px;
        height: 500px;
    }
    #recentProjects .links h3 {
        color: white;
        /* text-decoration: underline white; */
        font-size: 0.8rem;
        text-align: center;
    }


    /* Contact */
    .socials i {
        font-size: calc(30px + 8vw);
    }
    




    
    /* section {
        height: 200vh;
    }
    
    #projects {
        height: 400vh;
    }  */
    /* For the Projects Screen */
    /* #recentProjects .projects .gameJam, .economySimulator, .currentWebsite {
        border-radius: 0%;
        background: rgba(255, 255, 255, 0.6);
        flex-basis:100%;
        height: 500px;
        color: black;
        margin: 10px 0;
        position: relative;
        height: 1000%;
    }
    #recentProjects .title {
        width: 45%;
    }
    #recentProjects .image {
        width: 50%;
        margin-left: 1%;
    }
    #recentProjects .image img {
        border-radius: 100px;
        object-fit: contain;
    }
    
    #recentProjects .description p {
        width: 100%;
        height: 1000%;
        font-size: 0.8rem;
        margin-bottom: 0;
    } */

    

}

/* Large screens only */
@media only screen and (min-width: 900px) {

    /* Navigation Bar */
    .navbar {
        top: 0px;
        width: 5rem;
        height: 100vh;
    }

    /* Increase the nav bar width when you hover over it */
    .navbar:hover {
        width: 16rem;
    }

    /* Display the text for the icon when the nav bar has been hovered over */
    .navbar:hover .link-text {
        display: inline;
    }


    /* Home Page */
    .firstname {
        left: 20%;
        bottom: 10%;
    }
    .surname {
        left: 25%;
        bottom: 19%;
    }

    /* Projects Page */
    .projectsHeader {
        margin-bottom: 40px;
    }
    #recentProjects .projects {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #recentProjects .gameJam, .economySimulator, .currentWebsite {
        margin-top: 70px;
    }
    #recentProjects .links h3 {
        font-size: 1.2rem;
    }
}






/* Slideshow */
/* #slideshow {
    background-color: black;
    overflow: hidden;
    height: 15rem;
    margin-left: 5rem;
} */

/* #slideshow figure {
    position: relative;
    width: 500%; */ /* As there are 5 images */
/*     margin: 0;
    left: 0;
    animation: 20s slideshow-animate infinite;
} */

/* #slideshow figure img {
    width: 20%;
    height: 15rem;
    object-fit: scale-down;
    float: left;
    
}

@keyframes slideshow-animate {
    0% {
        left: 0
    }
    20% {
        left: 0
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
} */



/* Slide Down Stuff */
/* .content {
    background: white;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-wrapper {
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 50px;
    padding-left: 15px;
    overflow: hidden;
}

.slider div {
    color: white;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
}

.slider-text1 {
    background: red;
    animation: slide-down 5s linear infinite;
}
.slider-text2 {
    background: blue;
    
}
.slider-text3 {
    background: green;
}

@keyframes slide-down {
    0% {margin-top: -300px}
    10% {margin-top: -200px}
    33% {margin-top: -200px}
    43% {margin-top: -100px}
    66% {margin-top: -100px}
    76% {margin-top: 0px}
    100% {margin-top: 0px}
} */
